<!DOCTYPE html>
<html>
<head>
    <title>infociudad</title>
</head>
<body>
   
        <div class="textoTitu">
            <h1>INFO CIUDAD</h1>
        </div>


        <p>{{Region.EnglishName}}</p>
        <p>{{Country.EnglishName}}</p>
        <p>{{AdministrativeArea.LocalizedType}} : {{AdministrativeArea.EnglishName}}</p>
        Zona horaria: <p>{{TimeZone.Name}}</p>
        

       GeoPosition: 
          { Latitude: 43.32,
            Longitude: -1.98,



        <!--{{#each body}}
            <h2>{{body}}</h2>
        {{/each}}-->

    
</body>
</html>